body{
    background: radial-gradient(#CCDAE0, #EDF2F4);
}
header{
    text-align: center;
}
h1{
    color: #EF233C;
    font-size: 3em;
    font-weight: 550;
    text-decoration: underline;
    font-family: Impact;
}
h3{
    color:  #2B2D42;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-style: dotted;
}
article{
    border: solid 1px;
}
.image{
    text-align: center;
}
img{
    border: solid  #8D99AE 2px;
}
footer {
    text-align: right;
}
ul{
    list-style-type: none;
}
a:visited{
    color:  grey;
}
a{
    color:  #D90429;
}
a:hover{
    color: #2B2D42;
}